.expectedText { text-decoration: line-through }
.actualText { color: red }
.table { width: auto; }
thead td { font-weight: bold; background-color: #CCCCCC; }
td, th { background-color: #ffffff; }
.container { margin-top: 10px }